* {
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px;
}

BODY {
	/*FONT: 12px tahoma, arial, sans serif*/
	/*FONT: 12px arial, tahoma, sans serif*/
	FONT: 12px open sans, arial, tahoma, sans serif; 
}

H1 {
	MARGIN-TOP: 10px;
	MARGIN-BOTTOM: 10px;
	CLEAR: both;
	FONT-SIZE: 1.16em;
}

H3 {
	CLEAR: both;
	FONT-SIZE: 1.12em;
}

TEXTAREA {
	BORDER-BOTTOM: #666 1px solid;
	BORDER-LEFT: #666 1px solid;
	PADDING-BOTTOM: 2px;
	PADDING-LEFT: 2px;
	PADDING-RIGHT: 2px;
	FONT-SIZE: 1em;
	BORDER-TOP: #666 1px solid;
	BORDER-RIGHT: #666 1px solid;
	PADDING-TOP: 2px;
}

DL {
	MARGIN-TOP: 20px;
	WIDTH: 100%;
	FLOAT: left;
}

DL DT {
	WIDTH: 150px;
	MARGIN-BOTTOM: 5px;
	FLOAT: left;
	CLEAR: both;
}

DL DD {
	WIDTH: 200px;
	MARGIN-BOTTOM: 5px;
	FLOAT: left;
}

DL DD INPUT {
	WIDTH: 201px;
}

.activate {
	MARGIN-TOP: 10px;
}

.activate A {
	COLOR: #000;
	TEXT-DECORATION: underline;
}

.forgot {
	MARGIN-LEFT: 120px;
	CLEAR: both;
}

.forgot A {
	COLOR: #000;
	FONT-SIZE: 11px;
	TEXT-DECORATION: underline;
}

.extra {
	WIDTH: 370px;
	MARGIN-LEFT: 0px;
}

.extra A {
	DISPLAY: block;
	FLOAT: left;
	HEIGHT: 20px;
	COLOR: #000;
	TEXT-DECORATION: underline;
}

.extra .help {
	MARGIN-RIGHT: 15px;
}

.extra .skip {
	MARGIN-RIGHT: 15px;
}

.extra .cancel {
	MARGIN-RIGHT: 15px;
}

.extra .back {
	MARGIN-RIGHT: 15px;
}

.extra .retry {
	MARGIN-RIGHT: 15px;
}

.extra .submit {
	BORDER-BOTTOM: #004075 1px solid;
	BORDER-LEFT: #004075 1px solid;
	WIDTH: 74px;
	BACKGROUND: #c0c0c0;
	BORDER-TOP: #004075 1px solid;
	BORDER-RIGHT: #004075 1px solid;
}

.extra SPAN.button {
	FLOAT: right;
}

.error {
	color: red;
}

.phone {
	FONT-SIZE: 0.92em;
	position: absolute;
	bottom: 10px;
}

#SecureCode {
	POSITION: relative;
	PADDING-BOTTOM: 20px;
	MARGIN: 0px auto;
	PADDING-LEFT: 25px;
	PADDING-RIGHT: 25px;
	PADDING-TOP: 20px;
}

.pam {
	overflow: hidden;
	text-overflow: ellipsis;
}


/* ABSA Stuff */

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clear-both {
	clear: both;
}


/* structure */

#wrapper {
	margin: 0px auto 0px;
	width: 451px;
}

.verification-code {
	font: 12px open sans, arial, tahoma, sans serif; 
	font-weight: bold;
	color: #0051DC;
}

.code {
	font: 12px open sans, arial, tahoma, sans serif; 
	font-weight: bold;
	padding:4px;
	border: 1px solid #0051DC;
	background-color: #F1F1F1;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
}

.content-tbl {
	width:100%; 
	padding:10px 0px 10px 0px;
}

.content-tbl .l {
	text-align: left;
}

.content-tbl .c {
	text-align: center;
}

.content-tbl .r {
	text-align: right;
}

.container {
	/*padding: 0 15px;*/
	float: left;
	clear: left;
	width: 430px;
}

.container-header {
	position: relative;
	clear: both; 
	background: #660835; 
	color: #FFFFFF; 
	text-align: center; 
	font-weight: bold;
	padding: 12px; 
}
.container-logos {
	position: relative;	
	clear: both; 
	padding: 12px;
}
/* content */

.content-box {
	position: relative;
	clear: both; 
	background: #FFF;
	/*border-left: 1px solid #c8c8c8;
	border-right: 1px solid #c8c8c8;*/
	float: left;
	width: 404px;
	padding: 24px 11px 10px 11px;
	text-align: center;
	font: 12px open sans, arial, tahoma, sans serif; 
}

.content-box h3 {
	CLEAR: both;
	FONT-SIZE: 1.12em;
}

.content-box .processing {
	padding:20px 0px 20px 0px; 
}

.content-box-right {
	float: right;
	padding: 1px 1px 1px 1px;
	width: 200px;
	font-size: 11px;
}

.content-step {
	margin: 35px 0 12px;
}

.content-btm-nav {
	position: relative;
	clear: both; 
	padding-top: 20px;
	width: 100%;
}

.content-btm-nav a {
	/*padding: 0 7px;*/
	padding: 0px 7px 10px 7px;
	color: #000000;
	font: 12px open sans, arial, tahoma, sans serif
}

.content-btm-nav a:hover {
	color: #AF154B;
}

.content-btm-nav .help {
	padding-left: 10px;
	float:left; 
}
.center {
	text-align: center !important;
}
.content-btm-nav .retry {
	padding: 0px 10px 0px 10px;
	padding-left: 22%;
}
.content-btm-nav .cancel {
	padding-right: 10px;	
	float:right; 
}

.content-secure {
	float: left;
	padding: 0 px 0 27x;
	width: 400px;
}

.content-secure-txt {
	float: left;
	width: 167px;
	padding: 2px 0 0 4px;
	font-weight: bold;
}

.content-secure-txt1 {
	float: left;
	width: 167px;
	padding: 2px 0 0 4px;
}

.content-secure-txt1 b {
	float: left;
	width: 167px;
	padding: 3px 0 0 4px;
	font-weight: bold;
	color: #000;
}

.content-secure-txt2 {
	float: left;
	width: 167px;
	padding: 3px 0 0 4px;
	font-weight: bold;
}

.content-secure-txt3 {
	float: left;
	width: 400px;
	padding: 3px 0 0 4px;
	font-size: 11px;
	font-weight: normal;
}

.content-secure-txt4 {
	float: left;
	width: 160px;
	padding: 0px 0 0 0px;
	font-weight: bold;
}

.content-secure-txt-small {
	float: left;
	font-size: 10px;
}

.content-secure-input1 {
	background: url(images/input_1.gif) no-repeat;
	width: 200px;
	height: 25px;
	border: none;
	padding: 1px 2px 1px 2px;
	float: left;
}

.content-secure-input2 {
	background: url(images/input_2.gif) no-repeat;
	width: 46px;
	height: 22px;
	border: none;
	padding: 1px 5px 0 7px;
	float: left;
}

.content-secure select {
	float: left;
	margin-right: 10px;
}

.content-secure .btn-next input {
	background: url(images/btn_next.gif) no-repeat;
	display: block;
	width: 124px;
	height: 41px;
	margin: 12px 0;
	clear: both;
	color: transparent;
}

.content-secure .btn-submit input {
	background: url(images/btn_submit.gif) no-repeat;
	display: block;
	width: 124px;
	height: 41px;
	margin: 0px 0;
	clear: both;
}

.content-secure .btn-continue input {
	background: url(images/btn_continue.gif) no-repeat;
	display: block;
	width: 83px;
	height: 27px;
	margin: 8px 0;
	clear: both;
}

.content-secure .btn-next input:hover,
.btn-submit input:hover,
.btn-continue input:hover {
	background-position: 0 -41px;
}

.content-secure .btn-next input {
	background-image: url(images/btn_next.gif) no-repeat;
	display: block;
	width: 124px;
	height: 41px;
	margin: 12px 0;
	clear: both;
}

.submit-float {
	float: left;
	margin: 0 0 0 50px;
	width: 250px;
}

.new-forgot {
	float: right;
	margin: 4px 3px 3px 3px;
}
*/



/* logos */

.mastercard {
	float: left;
	margin: 0 27px 0 16px;
	height: 80px;
}

.mastercard2 {
	float: left;
	margin: 0 27px 0 27px;
	height: 50px;
}

.mastercard3 {
	float: left;
	margin: 0 27px 0 27px;
	height: 40px;
}

.barclays {
	float: left;
	margin: 5px 0 0 0;
	padding-bottom: 50px;
}
