/*---------------------Correcoes -----------------*/

strong,b {
    font-size: inherit;
    font-weight: bold;
    color: inherit;
}


body {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    background-color: #FAFAFA;
}

* {
    font-family: "Santander Text", "Arial", sans-serif;
    font-weight: 400;
    font-size: 0;
    color: #323232;
    background-color: transparent;
    text-decoration: none;
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
}

.header-container {
    position: relative;
    top: 0;
    height: 60px;
    width: 100%;
    padding: 0 calc((100% - 900px) / 2);
    background-color: #FFFFFF;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    z-index: 2;
}

.santander-logo {
    width: 120px;
    margin: 17px 0 0;
    cursor: pointer;
}

.particulares-logo {
    height: 22px;
    margin: 34px 0 0 12px;
    cursor: pointer;
}

.header-navigation {
    position: absolute;
    bottom: 6px;
}

.header-navigation_active, .header-navigation_inactive {
    font-size: 12px;
    font-weight: 600;
    padding: 6px 20px;
    border-radius: 4px 4px 0 0;
    transition: 140ms;
}

.header-navigation_active {
    color: #EC0000;
    background-color: #FFFFFF;
}

.header-navigation_active:hover {
    color: #F57F7F
}

.header-navigation_inactive {
    color: #FFFFFF;
    background-color: #EC0000;
}

.header-navigation_inactive:hover {
    background-color: #F57F7F;
}

.header_netbanco {
    height: 60px;
    width: 100%;
    background-color: #EC0000;
    top: 0;
    box-shadow: 3px 0 6px rgba(0,0,0,0.2);
    z-index: 7;
}

.santander-logo_netbanco {
    width: 120px;
    margin: 17px 0 0 30px;
    cursor: pointer;
}

.particulares-logo_netbanco {
    height: 15px;
    margin: 24px 0 0 8px;
    cursor: pointer;
}

#main {
    position:relative;
    z-index: 1;
    min-height: calc(100vh - 210px);
}

.center-content {
    position: relative;
    min-height: 300px;
    margin: 50px calc((100% - 900px) / 2) 100px;
    background-color: #FAFAFA;
    white-space: normal;
}

.vector-art {
    width: 400px;
    position: absolute;
}

.main-content {
    width: 400px;
    margin-left: 500px;
}

.main-content_full-width {
    width: 900px;
    margin: 80px auto 0;
}

.page-title {
    margin-bottom: 20px;
}

.main-title, .secondary-title {
    font-family: "Santander Headline", "Arial", sans-serif;
    font-weight: 600;
    display: inline-block;
}

.main-title {
    font-size: 24px;
    margin-right: 12px;
}

.secondary-title {
    font-size: 16px;
    padding-left: 12px;
    border-left: solid 2px #181818;
}

.title-description, .title-description_persistent {
    font-size: 14px;
    color: #6F7779;
    margin-bottom: 10px;
}

.regular-text, .bold-text, .italic-text, .italic-bold-text {
    font-size: 14px;
    white-space: normal;
}

.bold-text, .italic-bold-text {
    font-weight: 600;
}

.italic-text, .italic-bold-text {
    font-style: italic;
}

.form-container {
    position: relative;
    box-shadow: 0 0 4px rgba(0,0,0,0.25);
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 20px 40px 30px;
    margin-bottom: 20px;
}

.input-div {
    position: relative;
    margin: 30px 0 20px;
    max-width: max-content;
}

.input-field, .input-field_select {
    height: 50px;
    width: 340px;
    max-width: 100%;
    padding: 0 0 0 15px;
    font-size: 16px;
    border: solid 1px #C3DEE7;
    border-radius: 4px;
    background-color: #FFFFFF;
    transition: 140ms;
}

.input-field:hover, .input-field_select:hover {
    border-color: #9BC3D3;
}

.input-field:focus, .input-field_select:focus {
    transition: 50ms;
    border: 2px solid #137E84;
}

.input-field:-moz-ui-invalid {
    box-shadow: none;
}

.input-field::placeholder {
    color: #9BC3D3;
    opacity: 1;
}

.input-field:-ms-input-placeholder {
    color: #9BC3D3;
}

.input-field::-ms-input-placeholder {
    color: #9BC3D3;
}

.floating-label {
    position: absolute;
    font-size: 16px;
    left: 15px;
    top: 13px;
    color: rgba(0,0,0,0.6);
    transition: 140ms;
    pointer-events: none;
}

.input-field:optional ~ .floating-label {
    background-color: #FFFFFF;
    top: -8px;
    left: 10px;
    padding: 0 5px;
    font-size: 12px;
    opacity: 1;
}

.input-field:placeholder-shown ~ .floating-label {
    position: absolute;
    font-size: 16px;
    left: 15px;
    top: 13px;
    padding: 0;
    color: rgba(0,0,0,0.6);
    transition: 140ms;
    pointer-events: none;
}

.input-field:optional ~ .floating-label:after, .input-field_select:optional ~ .floating-label:after {
    font-style: italic;
    content: " - Opcional";
}

.input-field:focus ~ .floating-label, .input-field_select:focus ~ .floating-label{
    background-color: #FFFFFF;
    top: -8px;
    left: 10px;
    padding: 0 5px;
    font-size: 12px;
    opacity: 1;
}

.input-field:not(:optional):valid ~ .floating-label {
    background-color: #FFFFFF;
    top: -8px;
    left: 10px;
    padding: 0 5px;
    font-size: 12px;
    opacity: 1;
}

.input-field:not(:placeholder-shown) ~ .floating-label {
    background-color: #FFFFFF;
    top: -8px;
    left: 10px;
    padding: 0 5px;
    font-size: 12px;
    opacity: 1;
}

.input-field:focus ~ .floating-label, .input-field_select:focus ~ .floating-label {
    color: #137E84;
    font-weight: 600;
}

.input-field:-webkit-autofill,
.input-field:-webkit-autofill:hover,
.input-field:-webkit-autofill:focus,
.input-field:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.input-field:-webkit-autofill ~ .floating-label {
    background-color: #FFFFFF;
    top: -8px;
    left: 10px;
    padding: 0 5px;
    font-size: 12px;
    opacity: 1;
}

.input-field_select ~ .floating-label {
    background-color: #FFFFFF;
}

.input-field_select:not([value=""]) ~ .floating-label {
    background-color: #FFFFFF;
    top: -8px;
    left: 10px;
    padding: 0 5px;
    font-size: 12px;
    opacity: 1;
}

.input-field_select {
    background: transparent url("../images/icons/select-arrow.svg") no-repeat right;
    background-position: right 15px bottom 50%;
    background-size: 10px 5px;
}

.selection-field option {
  font-size: 14px;
}

option {
  font-size: 14px;
}

.input-field_error,
.input-field_error:placeholder-shown {
    border-color: #CC0000;
}

.input-field_error ~ .floating-label,
.input-field_error:placeholder-shown ~ .floating-label {
    color: #CC0000;
}

.input-field_invalid .floating-label {
    color: #CC0000;
}

.global-error {
    white-space: normal;
    border: solid 2px #EC0000;
    border-radius: 4px;
    padding: 25px 30px;
    margin-bottom: 30px;
}

.global-error .error-icon {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 20px;
}

.global-error .error-title {
    font-family: "Santander Headline";
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 600;
    color: #EC0000;
    padding-left: 20px;
    max-width: calc(100% - 20px);
    white-space: normal;
}

.global-error .error-description {
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    color: #181818;
    margin-top: 10px;
    padding-left: 40px;
    white-space: normal;
}

.global-success {
    white-space: normal;
    border: solid 2px #63ba68;
    border-radius: 4px;
    padding: 25px 30px;
    margin-bottom: 30px;
}

.global-success .error-icon {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 20px;
}

.global-success .error-title {
    font-family: "Santander Headline";
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 600;
    color: #63ba68;
    padding-left: 20px;
    max-width: calc(100% - 20px);
    white-space: normal;
}

.global-success .error-description {
    vertical-align: middle;
    font-size: 14px;
    font-weight: 400;
    color: #63ba68;
    margin-top: 10px;
    padding-left: 40px;
    white-space: normal;
}

.contextual-message {
    width: 100%;
    white-space: normal;
    margin-top: 10px;
}

.contextual-message_icon {
    display: inline-block;
    vertical-align: top;
    height: 16px;
    width: 16px;
    margin-top: 2px;
}

.contextual-message_label {
    display: inline-block;
    width: calc(100% - 16px);
    font-size: 14px;
    color: #181818;
    padding-left: 10px;
    white-space: normal;
}

.contextual-message_label--red {
    color: #CC0000;
}

.contextual-message_label--green {
    color: #10843D;
}

.contextual-message_label--blue {
    color: #0032E6;
}

.contextual-message_label--yellow {
    color: #FF6200;
}

.form-main-buttons, .form-main-buttons_outside {
    margin: 40px 0 20px;
    min-height: 40px;
}

.form-main-buttons_outside {
    margin-bottom: 80px;
    text-align: right;
}

.form-main-buttons_outside .alt-button-blue {
    margin-right: 40px;
}

.square-button-red, .square-button-blue, .main-button-disabled, .disabled-button, .main-button-blue {
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    padding: 0 30px;
    border-radius: 20px;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 140ms;
}

.main-button-disabled, .disabled-button {
    background-color: #E4E4E4;
    color: #B1B1B1;
    border-radius: 20px;
    cursor: default;
}

.square-button-red {
    background-color: #EC0000;
    float: right;
}

.square-button-red:hover {
    background-color: #F36565;
}

.square-button-red:active {
    transition: background-color 50ms;
    background-color: #990000;
}

.main-button-blue {
    border-radius: 20px;
    background-color: #137E84;
}

.main-button-blue:hover {
    background-color: #2F9BA2;
}

.main-button-blue:active {
    transition: background-color 50ms;
    background-color: #08666C;
}

.alt-button-red, .alt-button-blue {
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    cursor: pointer;
    transition: color 140ms;
}

.alt-button-red {
    color: #EC0000;
}

.alt-button-red:hover {
    color: #F36565;
}

.alt-button-red:active {
    transition: color 50ms;
    color: #990000;
}

.alt-button-blue {
    color: #137E84;
}

.alt-button-blue:hover {
    color: #2F9BA2;
}

.alt-button-blue:active {
    transition: color 50ms;
    color: #08666C;
}

.form-secondary-title {
    font-family: "Santander Headline", "Arial", sans-serif;
    text-align: center;
    margin: 50px 0 20px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 400;
    background-color: #FFFFFF;
}

.square-button-blue {
    width: 100%;
    height: 50px;
    background-color: #3C5DBC;
}

.square-button-blue:hover {
    background-color: #3566F2;
}

.square-button-blue:active {
    transition: background-color 50ms;
    background-color: #1C316E;
}

.gov-icon {
    height: 28px;
    vertical-align: middle;
}

.gray-link {
    font-size: 12px;
    font-weight: 600;
    color: #6F7779;
    margin: 20px 20px 0 0;
    cursor: pointer;
    text-align: left;
    transition: color 140ms;
    white-space: pre;
}

.gray-link:hover {
    color: #969D9E;
}

.gray-link:active {
    transition: color 50ms;
    color: #4D5557;
}

.blue-link {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #137E84;
    cursor: pointer;
    transition: color 200ms;
}

.blue-link:hover {
    color: #2F9BA2;
}

.blue-link:active {
    color: #08666C;
    transition: color 50ms;
}

.link {
    font-size: inherit;
    font-weight: 600;
    color: #137E84;
    cursor: pointer;
    transition: color 200ms;
}

.link:hover {
    color: #2F9BA2;
}

.link:active {
    color: #08666C;
    transition: color 50ms;
}

.popup-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100000;
}

.popup {
    position: relative;
    width: 750px;
    min-height: 200px;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin: 100px auto;
    padding: 50px 100px;
    text-align: center;
    z-index: 100002;
}

.popup-icon {
    height: 60px;
    width: 60px;
}

.popup-title {
    font-family: "Santander Headline", Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin: 30px 0 20px;
    white-space: normal;
}

.popup-description {
    font-size: 16px;
    margin: 20px 0 40px;
    width: 100%;
    white-space: normal;
    text-align: left;
}

.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100001;
}

.popup-button-area {
    margin-top: 40px;
    width: 100%;
    min-height: 40px;
    text-align: center;
    vertical-align: center;
}

.popup-close-icon {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.footer-container {
    width: 100%;
    padding: 50px 0 20px;
    text-align: center;
    background-color: #F1F3F4;
}

.footer-title {
    font-size: 14px;
    margin-bottom: 30px;
    text-align: left;
}

.footer-copyright {
    display: block;
    font-size: 12px;
    margin-top: 40px;
    text-align: center;
}

.center-footer{
    display: inline-block;
}

.footer-link-container {
    display: inline-block;
}

#footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px calc((100% - 900px) / 2);
    margin-top: 50px;
}

#footer-link-container {
    display: inline-block;
    margin-bottom: 20px;
}

.footer-link {
    color: #181818;
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    transition: color 0.2s;
}

.footer-link:hover {
    color: #969D9E;
}

.footer-link:active {
    color: #4D5557;
}

#footer-link-container .footer-link:not(:first-child)::before {
    border-left: 1px solid #181818;
    content: "";
    display: inline-block;
    height: 18px;
    margin: 0 12px;
    vertical-align: top;
}

#footer-copyright {
    font-size: 12px;
}

.display-block {
    display: block;
}

.register-process-global-error-block {
    position: relative;
    margin: 20px 0;
    padding-left: 46px;
}

.register-process-global-error-icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 26px;
    width: 26px;
}

.register-process-global-error-title {
    font-size: 16px;
    font-weight: 600;
    color: #CC0000;
}

.register-process-global-error-description {
    font-size: 14px;
    margin-top: 5px;
}


/*-------------------------------- Landing Page Registo --------------------------------*/

.display-none {
    display: none;
}

#landing-page {
    position: relative;
    margin: 0 calc((100% - 900px) / 2) 100px;
}

#Netbanco {
    font-family: "Santander Headline";
    font-size: 64px;
    font-weight: 600;
    line-height: 64px;
}

#Particulares {
    font-family: "Santander Headline";
    font-size: 40px;
    margin-bottom: 20px;
}

.block {
    position: relative;
    margin-bottom: 100px;
}

.text-left, .text-right {
    width: calc((100% / 2) - 50px);
    margin-right: 100px;
    display: inline-block;
    vertical-align: middle;
}

.text-right {
    margin-right: 0;
    margin-left: 100px;
}

.block-title {
    font-family: "Santander Headline";
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
}

.block-subtitle {
    font-family: "Santander Headline";
    font-size: 28px;
    margin-bottom: 30px;
}

.block-text {
    font-size: 18px;
    line-height: 28px;
    white-space: normal;
    margin-bottom: 20px;
}

#go-to-form {
    height: 50px;
    padding: 0 40px;
    font-size: 18px;
    float: none;
    margin-top: 20px;
    border-radius: 25px;
}

.block-image {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    right: 0;
    width: 400px;
}

.learn-more {
    font-size: 18px;
}

.red-arrow {
    height: 10px;
    width: 7px;
    margin-left: 10px;
    vertical-align: middle;
}

#repeated-image {
    opacity: 0;
}

#persistent-image {
    position: absolute;
    right: 0;
    transition: transform 500ms;
}

.persistent-image_left {
    transform: translate(-125%, 20px);
}

#terms-and-conditions {
    max-height: 400px;
    overflow-y: scroll;
    margin-bottom: 40px;
}

#terms-and-conditions p {
    font-size: 14px;
}

#terms-and-conditions p strong {
    font-family: "Santander Headline";
    font-size: 16px;
    font-weight: 600;
    line-height: 40px;
}

#terms-and-conditions br {
    line-height: 40px;
}

#scroll-indicator {
    position: sticky;
    bottom: -30px;
    text-align: center;
    width: calc(100% + 80px);
    border-radius: 0 0 7px 7px;
    height: 40px;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.05));
    margin-left: -40px;
    cursor: pointer;
}

#scroll-indicator_arrow {
    animation: Bounce 2s ease-in-out infinite;
    position: absolute;
    bottom: 25px;
    height: 10px;
    width: 15px;
    opacity: 0.8;
}

@keyframes Bounce {
  0%, 100% {
    bottom: 25px;
  }
  50% {
    bottom: 15px;
  }
}

/*---------------------------------- Wizards ----------------------------------*/

.progress-indicator {
    position: sticky;
    top: 60px;
    width: calc(100% + 90px);
    margin: -24px 0 45px -45px;
    border: 4px solid #FAFAFA;
    border-bottom: unset;
    padding-top: 20px;
    background-color: #FAFAFA;
    box-shadow: 0 6px 2px -4px rgba(20,50,80,0.15);
    z-index: 4;
}

.progress-bar {
    height: 5px;
    width: 100%;
    background-color: #B7D8DA;
}

.progress-bar_current-progress {
    position: absolute;
    background-color: #8CD9DD;
    height: 5px;
    width: 0;
    transition: width 400ms, background-color 400ms;
}

#current-form-title {
    top: 0;
    font-family: "Santander Headline", "Arial", sans-serif;
    font-size: 16px;
    margin: 0 0 10px;
    background-color: #FAFAFA;
    transition: color 200ms;
}

#current-form-title_step {
    font-family: "Santander Headline", "Arial", sans-serif;
    font-weight: 600;
    font-size: 16px;
    font-style: italic;
    padding-left: 12px;
    transition: color 200ms;
}

.current-form-title_complete {
}

@keyframes formTitleGlow {
    0% { color: #137E84; }
    50% { color: #1BB3BC; }
    100% { color: #137E84; }
}

.progress-bar_complete {
    background-color: #137E84;
    animation: progressBarGlow 1500ms infinite;
}

@keyframes progressBarGlow {
    0% { background-color: #137E84; }
    50% { background-color: #1BB3BC; }
    100% { background-color: #137E84; }
}

.progress-bar_success {
    background-color: #63BA68;
}

.progress-bar_error {
    background-color: #FF6200;
}

.current-form-title_error {
    font-weight: 600;
    color: #FF6200;
}

.current-form-title_success {
    font-weight: 600;
    color: #63BA68;
}

.form-navigation {
    position: relative;
    margin: 50px 0;
    height: 40px;
    width: 100%;
}

#form-previous-button, #form-next-button {
    position: absolute;
    height: 40px;
    padding: 0 30px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
}

#form-previous-button {
    padding-left: 40px;
    left: 0;
    color: #656565;
    border: 1px solid #656565;
    transition: color 200ms, border-color 200ms, background-color 200ms;
}

#form-previous-button:hover {
    color: #9F9F9F;
    border: 1px solid #9F9F9F;
}

#form-previous-button:hover:after, #form-previous-button:hover .form-previous-button_arrow {
    color: #9F9F9F;
}

#form-previous-button:active {
    transition: 50ms;
    color: #323232;
    border: 1px solid #323232;
}

#form-previous-button:active:after, #form-previous-button:active .form-previous-button_arrow {
    transition: 50ms;
    color: #323232;
}

.form-previous-button_arrow {
    position: absolute;
    top: 5px;
    left: 20px;
    font-size: 18px;
    color: #656565;
    transition: color 200ms;
}

#form-next-button{
    padding-right: 40px;
    right: 0;
}

.form-next-button_arrow {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 18px;
    transition: color 200ms;
}

.form-next-button_disabled .form-next-button_arrow {
    color: #B1B1B1;
}

.form-next-button_enabled  {
    color: #EC0000;
    border: 1px solid #EC0000;
    background-color: #FFFFFF;
    transition: 200ms;
}

.form-next-button_enabled .form-next-button_arrow {
    color: #EC0000;
}

.form-next-button_enabled:hover {
    border-color: #EC0000;
    color: #EC0000;
    background-color: #FCE4E4;
}

.form-next-button_enabled:hover:after, .form-next-button_enabled:hover .form-next-button_arrow {
    color: #EC0000;
}

.form-next-button_enabled:active {
    transition: 50ms;
    color: #990000;
    border-color: #990000;
    background-color: #FCE4E4;
}

.form-next-button_enabled:active:after, .form-next-button_enabled:active .form-next-button_arrow {
    transition: 50ms;
    color: #990000;
}

.form-next-button_disabled {
    color: #B1B1B1;
    border: 1px solid #B1B1B1;
}

#form-previous-button:before, #form-next-button:before, #form-previous-button:after, #form-next-button:after {
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    height: 1px;
    padding: 0 5px 0;
}

#form-previous-button:before, #form-next-button:before {
    top: -1px;
    color: transparent;
    background-color: #FFFFFF;
}

#form-previous-button:after {
    top: -9px;
    color: #656565;
}

#form-next-button:after {
    top: -9px;
}

.form-next-button_disabled:after {
    color: #B1B1B1;
}

.form-next-button_enabled:after {
    color: #137E84;
    transition: 200ms;
}

#form-previous-button:before, #form-previous-button:after {
    left: 35px;
    content: "Voltar para";
    transition: color 200ms;
}

#form-next-button:before, #form-next-button:after {
    left: 25px;
    content: "Avançar para";
}

#form-submit {
    position: absolute;
    right: 0;
}

.form-finish-button {
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #EC0000;
    height: 40px;
    padding: 0 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 200ms, color 200ms;
}

.form-finish-button:hover {
    background-color: #F36565;
}

.form-finish-button:active {
    transition: background-color 50ms, color 50ms;
    background-color: #990000;
    color: #FFFFFF;
}

.contextual-error {
    padding-top: 10px;
    width: 100%;
    white-space: nowrap;
}

.contextual-error .error-icon {
    display: inline-block;
    vertical-align: top;
    height: 16px;
    width: 16px;
    margin-top: 2px;
}

.contextual-error .error-label {
    display: inline-block;
    width: calc(100% - 16px);
    font-size: 14px;
    color: #EC0000;
    padding-left: 10px;
    white-space: normal;
}

.form-message {
    position: relative;
    margin: 40px 0 20px;
}

.form-message-icon {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 2px;
}

.form-message-description {
    font-size: 16px;
    margin: 0 0 0 40px;
    white-space: normal;
}

.global-message-success, .global-message-error, .global-message-alert, .global-message-info {
    position: relative;
    width: 100%;
    min-height: 86px;
    padding: 30px 40px 30px 70px;
    border: solid 2px #DEECF2;
    border-radius: 4px;
    margin-bottom: 30px;
}

.global-message-success {
    border-color: #63BA68;
}

.global-message-error {
    border-color: #CC0000;
}

.global-message-alert {
    border-color: #FF6200;
}

.global-message-info {
    border-color: #0032E6;
}

.global-message-icon {
    position: absolute;
    top: 32px;
    left: 30px;
    height: 26px;
    width: 26px;
}

.global-message-title {
    font-size: 18px;
    font-weight: 600;
}

.global-message-description {
    font-size: 16px;
    margin-top: 10px;
}

.global-message-success .global-message-title {
    color: #63BA68;
}

.global-message-error .global-message-title {
    color: #CC0000;
}

.global-message-alert .global-message-title {
    color: #FF6200;
}

.global-message-info .global-message-title {
    color: #0032E6;
}

/*-------------------------------- Password Toggle --------------------------------*/


.show-password-button {
    display: inline-block;
    width: 30px;
    height: 25px;
    stroke-width: 0;
    stroke: #757575;
    fill: #757575;
    background: url(/ficheros/modern/images/icons/eye-icon_show.svg);
    cursor: pointer;
    transition: opacity 200ms;
}

.show-password-button:hover, .hide-password-button:hover  {
    opacity: 0.7;
}

.show-password-button:active, .hide-password-button:active {
    transition: opacity 50ms;
    opacity: 1;
}

.hide-password-button {
    display: inline-block;
    width: 30px;
    height: 25px;
    stroke-width: 0;
    stroke: #757575;
    fill: #757575;
    background: url(/ficheros/modern/images/icons/eye-icon_hide.svg);
    cursor: pointer;
    transition: opacity 200ms;
}

.input-div > .hide-password-button {
    position: absolute;
    top: 24px;
    right: 15px;
    transform: translateY(-50%);
    color: silver;
  }

.input-div > .show-password-button {
    position: absolute;
    top: 24px;
    right: 15px;
    transform: translateY(-50%);
    color: silver;
}




/*-------------------------------- Tooltip --------------------------------*/


.tooltip-container {
    white-space: nowrap;
    position: absolute;
    top: -165px;
    background-color: #fff;
    z-index: 1;
}

.tooltip {
    border-radius: 4px;
    border: solid 1px #c3dee7;
    width: 300px;
    padding: 20px;
}

.tooltip:after {
    height: 15px;
    content: " ";
    position: absolute;
    width: 15px;
    left: 25px;
    bottom: -8px;
    border-left: 1px solid #c3dee7;
    border-bottom: 1px solid #c3dee7;
    border-top: 0px solid black;
    border-right: 0px solid black;
    transform: rotate(-45deg);
    background-color: #FFFFFF;
}



/*-------------------------------- Data block --------------------------------*/

.data-block {
    display: block;
    margin: 30px 0;
    white-space: normal;
}
.data-label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #656565;
    white-space: normal;
}
.data-value {
    display: inline-block;
    white-space: normal;
    font-size: 16px;
    font-weight: 600;
}
.data-block_row {
    display: block;
    margin: 30px 0;
    white-space: normal;
}
.data-block_row_label {
    display: block;
    font-size: 16px;
    margin: 0 0 10px;
}
.data-block_row .data-block {
    display: inline-block;
    margin: 0 30px 30px 0;
}


/*-------------------------------- Success Registo --------------------------------*/

.register-success-container {
    text-align: center;
}

.register-success-title {
    font-family: "Santander Headline", "Arial", sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

.register-success-description {
    font-size: 16px;
    margin: 10px auto;
}

.register-success-image {
    display: block;
    height: 200px;
    max-width: 100%;
    margin: 50px auto 30px;
}

.register-success-reminder {
    font-family: "Santander Headline", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 30px auto 40px;
}

.register-success-navigation {
    margin: 40px auto;
    text-align: center;
}

/*---------------------------------- Image info block ----------------------------------*/
.image-info-block {
    display: flex;
    flex-direction: row;
    white-space: normal;
    justify-content: start;
    align-items: start;
    margin: 50px 0;
}

.section-container .image-info-block {
    margin: 30px 0 10px;
}

.section-container .image-info-block:first-child {
    margin: 0 0 30px;
}

.image-info-block_left-col {
    display: block;
    white-space: normal;
    max-width: max-content;
    margin: 0 50px 0 0;
}

.image-info-block_left-col > img,
.image-info-block_right-col > img {
    max-width: 300px;
    max-height: 100%;
}

.section-card .image-info-block_left-col {
    min-width: max-content;
}
.image-info-block_left-col .section-title {
    margin-top: 0;
}

.image-info-block_right-col {
    display: block;
    white-space: normal;
}

.image-info-block_left-col + .image-info-block_right-col {
    text-align: left;
}

.image-info-block_title {
    display: block;
    font-family: "Santander Headline";
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
    white-space: normal;
}

.image-info-block_description {
    display: block;
    font-size: 16px;
    white-space: normal;
    margin-bottom: 20px;
}

.image-info-block_left-col,
.image-info-block_center-col,
.image-info-block_right-col {
    flex-grow: 1;
}

/* ---- Loading overlay ---- */

.login-loading-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(250,250,250, 0.85);
    z-index: 1;
    border-radius: 8px;
}

.login-loading-overlay-message {
  position: relative;
  top: 50%;
  height: max-content;
  width: calc(100% - 40px);
  margin: auto;
  text-align: center;
  white-space: normal;
  transform: translate(0, -50%);
}

.login-loading-overlay-icon {
  display: block;
  height: 100px;
  margin: auto;
}

.login-loading-overlay-title {
  display: block;
  font-family: Santander Headline;
  font-size: 20px;
  margin: 10px auto 0;
  text-align: center;
}

.login-loading-overlay-description {
  display: block;
  font-size: 14px;
  color: #656565;
  margin: 5px auto 0;
  text-align: center;
}

/* Radio Select */

header .selection-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -28px;
    margin-right: -10px;
}
  
.selection-block img {
    width: 16px;
    top: 1px;
}
  
.radio-select {
    font-size: 14px;
}
  
.radio-select ~ .radio-select::before {
    content: "|";
}
  
.radio-select-label {
    color: #656565;
    font-size: 14px;
    padding: 11px 11px 10px 11px;
}
  
.radio-select-label:first-of-type {
    padding-left: 5px;
}
  
.radio-select:checked + .radio-select-label:first-of-type {
    padding-left: 4px;
}
  
.radio-select:checked + .radio-select-label {
    color: #181818;
    font-weight: bold;
    padding: 10px;
}

/* Mobile Responsiveness */
@media (max-width: 600px) {
    .login-loading-overlay {
        position: fixed;
        height: 100%;
        width: 100%;
    }
}




/* ---- Flame loader ---- */

#loader, #loader-i {
  bottom: 0;
  height: 100px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: auto; }

.organic {
  bottom: 0;
  filter: url(#organic);
  height: 100px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto; }

.loader-logo {
  height: 22px;
  left: 50%;
  width: 22px;
  margin-left: -11px;
  margin-top: -12px;
  position: absolute;
  top: 50%;
  z-index: 200;
  fill: white; }

.dot {
  height: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 0; }
  .dot:before {
    background: #ec0000;
    border-radius: 50px;
    content: '';
    height: 22px;
    left: 50%;
    margin-left: -11px;
    margin-top: -11px;
    position: absolute;
    transform: translateY(0) rotate(0deg);
    width: 22px; }
@keyframes dot-move {
  0% {
    transform: translateY(0); }
  18%, 22% {
    transform: translateY(-45px); }
  40%, 100% {
    transform: translateY(0); } }
  .dot:nth-child(5):before {
    z-index: 100;
    width: 43px;
    height: 43px;
    margin-left: -21.5px;
    margin-top: -21.5px;
    animation: dot-colors 5s ease infinite; }
@keyframes dot-rotate-1 {
  0% {
    transform: rotate(-105deg); }
  100% {
    transform: rotate(270deg); } }
  .dot:nth-child(1) {
    animation: dot-rotate-1 5s 0s linear infinite; }
    .dot:nth-child(1):before {
      animation: dot-move 5s 0s ease infinite; }
@keyframes dot-rotate-2 {
  0% {
    transform: rotate(165deg); }
  100% {
    transform: rotate(540deg); } }
  .dot:nth-child(2) {
    animation: dot-rotate-2 5s 1.25s linear infinite; }
    .dot:nth-child(2):before {
      animation: dot-move 5s 1.25s ease infinite; }
@keyframes dot-rotate-3 {
  0% {
    transform: rotate(435deg); }
  100% {
    transform: rotate(810deg); } }
  .dot:nth-child(3) {
    animation: dot-rotate-3 5s 2.5s linear infinite; }
    .dot:nth-child(3):before {
      animation: dot-move 5s 2.5s ease infinite; }
@keyframes dot-rotate-4 {
  0% {
    transform: rotate(705deg); }
  100% {
    transform: rotate(1080deg); } }
  .dot:nth-child(4) {
    animation: dot-rotate-4 5s 3.75s linear infinite; }
    .dot:nth-child(4):before {
      animation: dot-move 5s 3.75s ease infinite; }

.info {
  position: absolute;
  bottom: 0;
  font-family: 'Lato', sans-serif;
  text-align: center;
  right: 0;
  left: 0; }
  .info .title {
    font-size: 22px;
    color: #333;
    line-height: 1.5; }
  .info .subtitle {
    font-size: 14px;
    color: #999;
    line-height: 1.6; }

/* ----- AÑADIR PARA LOADER-i ----- */
.invert .loader-logo {
  fill: #ec0000; }
.invert .dot:before {
  background-color: white; }
.invert .info .title {
  color: #f0f0f0; }
.invert .info .subtitle {
  font-size: 14px;
  color: #ddd;
  line-height: 1.6; }

/* ----- SMALL LOADER ----- */
.bubbles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: auto;
  filter: url(#organic);
  animation: bubbles-rotate ease-in-out 1s infinite; }

@keyframes bubbles-rotate {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(360deg); } }
.bubble {
  background: #ec0000;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -6px;
  margin-left: -6px;
  border-radius: 100%; }

@keyframes bubble-anim-left {
  0% {
    transform: translateX(0px) scale(1.06); }
  25% {
    transform: translateX(0px) scale(1.06); }
  100% {
    transform: translateX(-24px) scale(1); } }
.bubble:first-child {
  animation: bubble-anim-left ease-in-out 1s infinite alternate; }

@keyframes bubble-anim-right {
  0% {
    transform: translateX(0px) scale(1.06); }
  25% {
    transform: translateX(0px) scale(1.06); }
  100% {
    transform: translateX(24px) scale(1); } }
.bubble:last-child {
  animation: bubble-anim-right ease-in-out 1s infinite alternate; }

/* ----- AÑADIR PARA SMALL LOADER-i ----- */
.invert .bubble {
  background-color: white; }


@media (max-width: 1000px) {
    .header-container {
        padding: 0 50px;
    }
    
    #footer {
        align-items: center;
        flex-direction: column;
        padding-left: 50px;
        padding-right: 50px;
    }
    
    #footer-link-container {
        margin: 0;
    }

    #footer-link-container .footer-link:not(:first-child)::before {
        margin: 0 20px;
    }

    #footer-copyright {
        margin-top: 30px;
    }

    .vector-art {
        display: none;
    }

    .center-content {
        margin: 80px 0 100px;
    }

    .main-content {
        margin: 0 auto;
    }
    
    .main-content_full-width {
        width: calc(100% - 100px);
        margin: 80px auto 0;
    }

    .footer-link-container {
        width: auto;
        padding: 0 25px;
    }

    #landing-page {
        width: calc(100% - 100px);
        margin: 0 50px 100px;
    }

    #persistent-image {
        display: none;
    }

    .text-left, .text-right {
        display: block;
        width: 100%;
        margin: 0;
    }

    .block-image {
        display: none;
    }
}

@media (max-width: 850px) {
    .main-content_full-width {
        width: 100%;
        padding: 0 50px;
    }
    
    #main {
        min-height: calc(100vh - 206px);
    }

    .popup-container {
        width: 100%;
        padding: 0 50px;
    }

    .popup {
        width: 100%;
        padding: 50px 50px;
    }
    
    #footer {
        align-items: flex-start;
        margin: auto;
        padding: 60px 0 20px;
        width: 400px;
    }

    .footer-link {
        display: block;
        padding: 13px 0;
    }
    
    #footer-link-container .footer-link:not(:first-child)::before {
        content: none;
    }

    #footer-copyright {
        margin-top: 15px;
    }
}

@media (max-width: 600px) {

    .image-info-block_left-col {
        max-width: unset;
    }

    .section-container {
        width: 100%;
        border: none;
        border-radius: 0;
        margin: 40px 0 20px;
        padding: 30px 20px;
    }

    .image-info-block {
        display: block;
        margin: 50px 20px;
    }

    .section-container .image-info-block {
        margin: 20px 0 10px;
    }

    .image-info-block_left-col {
        display: block;
        width: 100%;
        margin: 20px auto;
        text-align: center;
    }

    .image-info-block_right-col {
        display: block;
        white-space: normal;
    }

    .image-info-block_left-col img {
        width: 200px;
    }

    .image-info-block_right-col img {
        display: none;
    }

    .image-info-block_left-col .section-title {
        margin-left: 0;
    }

    body {
        min-width: 360px;
    }
    
    #main {
        min-height: calc(100vh - 186px);
    }

    .header-container {
        height: 54px;
        min-width: 360px;
        padding: 0 30px;
    }

    .santander-logo {
        height: 20px;
        width: auto;
        margin: 17px 0 0;
    }

    .particulares-logo {
        height: 14px;
        margin: 17px 0 0 8px;
    }

    .header-navigation {
        display: none;
    }

    .center-content {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .main-content, .main-content_full-width {
        width: 100%;
        margin: 30px 0 20px;
        padding: 0 30px;
    }

    #footer {
        width: unset;
        padding: 60px 30px 20px;
    }

    #landing-page {
        width: calc(100% - 60px);
        margin: 50px 30px 30px;
    }

    .block {
        margin-bottom: 80px;
    }

    .page-title {
        margin-bottom: 30px;
    }

    .main-title {
        display: block;
    }

    .secondary-title {
        border: none;
        margin: 5px 0 0;
        padding: 0;
    }

    .title-description {
        display: none;
    }
    
    .progress-indicator {
        width: calc(100% + 68px);
        margin: -24px 0 45px -34px;
    }
    
    #current-form-title {
        padding: 0 80px 0 30px;
    }

    .form-container {
        padding: 0;
        border: none;
        box-shadow: unset;
        background-color: transparent;
        margin-bottom: 40px;
    }

    #terms-and-conditions {
        border: solid 1px #C3DEE7;
        padding: 20px 20px 50px;
    }

    .form-main-buttons_outside .alt-button-blue {
        margin-right: 20px;
    }

    .input-div {
        max-width: unset;
    }

    .input-field {
        width: 100%;
    }

    .form-small-link-blue {
        text-align: center;
    }

    .gray-link {
        margin-right: 14px;
    }

    .popup-container {
        width: 100%;
        padding: 0 30px;
    }

    .popup {
        width: 100%;
        padding: 40px 30px;
    }

    .popup-title {
        font-size: 18px;
    }

    .popup-description {
        font-size: 14px;
    }

    .center-footer {
        text-align: left;
        white-space: normal;
    }

    .footer-container {
        width: 100%;
        padding: 0 0 20px;
    }

    .footer-link-container {
        padding: 0;
        margin: 40px 0 0 30px;
        width: auto;
        display: inline-block;
    }

    .footer-title {
        font-size: 14px;
        margin-bottom: 30px;
    }
    
    .global-message-success, .global-message-error, .global-message-alert, .global-message-info {
        text-align: center;
        padding: 20px;
        width: 100%;
        margin: 0 auto 20px;
        background-color: #FFFFFF;
    }

    .global-message-icon {
        position: static;
        height: 32px;
        width: 32px;
        margin-bottom: 15px;
    }

    .global-message-title, .global-message-description {
        text-align: center;
        white-space: normal;
    }
    
    .form-navigation {
        margin: 0 0 40px;
        height: unset;
    }

    #form-previous-button {
        padding-left: 40px;
        left: 0;
        color: #656565;
        border: 1px solid #656565;
        transition: color 200ms, border-color 200ms, background-color 200ms;
    }

    .form-next-button_arrow,
    .form-previous-button_arrow,
    #form-previous-button:after, #form-next-button:after {
        display: none;
    }

    #form-previous-button, #form-next-button, .form-finish-button, #form-submit {
        position: relative;
        display: block;
        font-size: 0;
        padding: 0 30px;
        width: calc(100% - 40px);
        max-width: 400px;
        margin: 0 auto 20px;
        text-align: center;
    }

    #form-previous-button {
        border: solid 1px #EC0000;
    }

    #form-next-button {
        color: #FFFFFF;
        background-color: #EC0000;
        border: none;
    }

    #form-next-button:before {
        color: #FFFFFF;
    }

    #form-next-button.form-next-button_disabled {
        color: #919191;
        background-color: #E4E4E4;
        border: none;
        cursor: default;
    }

    #form-next-button.form-next-button_disabled:before {
        color: #919191;
    }

    .form-finish-button {
        font-size: 14px;
    }

    #form-previous-button:before, #form-next-button:before {
        position: static;
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        content: "Continuar";
        padding: 0;
        background-color: transparent;
    }

    #form-previous-button:before {
        content: "Voltar";
        color: #EC0000;
    }

    #form-previous-button:hover {
        color: #EC0000;
        background-color: #FCE4E4;
        border: solid 1px #EC0000;
    }

    #form-previous-button:active {
        color: #FFFFFF;
        background-color: #F9B1B1;
        border: solid 1px #F9B1B1;
    }

    #form-previous-button:active:before {
        color: #FFFFFF;
        transition: 50ms;
    }

    #form-next-button.form-next-button_enabled:hover {
        background-color: #F36565;
        border: none;
    }

    #form-next-button.form-next-button_enabled:active {
        background-color: #990000;
    }

    #form-submit {
        position: static;
        font-size: 14px;
    }

    /* Icon password */
    
    .input-div>.hide-password-button {
        left: 85%;
    }
    .input-div>.show-password-button {
        left: 85%;
    }
    #tooltip-container {
        width: 100%;
    }
    ul#text-tooltip {
        margin-top: 20px;
        border-radius: 4px;
        border: solid 1px #c3dee7;
        width: 100%;
        padding: 20px 0 0 0;
    }
    #text-tooltip .error-label {
        width: calc(100% - 30px);
    }

    /* Radio Select */

    header .selection-drop {
        font-size: 14px;
        height: 40px;
        margin-left: -5px;
        max-width: 100%;
        padding: 0 10px;
    }

    .selection-drop option {
        font-size: 14px;
    }
}

.float-right {
    float: right;
}
/* inicio css necessario para avisos5 (apagar no futuro) */
.resumo .alertId {
    border-collapse:separate;
    color: rgb(68, 68, 68);
    display:block;
    font-family:arial, helvetica, sans-serif;
    font-size:11px;
    font-weight:400;
    min-height:80px;
    line-height:16px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
    padding-top:0px;
    text-align:center;
    -webkit-border-horizontal-spacing:10px;
    -webkit-border-vertical-spacing:10px;
    white-space:normal;
}

.resumo, .resumo * {
    font-size: 14px;
    white-space: normal;
}

TD{font-family:arial,helvetica,sans-serif;font-size:11px;font-weight:normal;line-height:16px;}
INPUT.frmbtn_on{color:#fff;font:bold 11px arial,verdana,helvetica,sans-serif;border-left:1px solid #d90000;border-top:1px solid #d90000;border-bottom:2px solid #ffa6a6;border-right:2px solid #ffa6a6;padding:1px 0;margin:0 2px 0 0;background:#f00;}
INPUT.frmbtn{color:#000;font:bold 11px arial,verdana,helvetica,sans-serif;border-left:1px solid #bababa;border-top:1px solid #bababa;border-bottom:2px solid #666666;border-right:2px solid #666666;padding:1px 0;margin:0 2px 0 0;background:#f9f9f9;}
INPUT.frmbtn_off{color:#969696;font:bold 11px arial,verdana,helvetica,sans-serif;border-left:1px solid #dbdbdb;border-top:1px solid #dbdbdb;border-bottom:1px solid #666666;border-right:1px solid #666666;padding:1px 0;margin:0 2px 0 0;background:#f9f9f9;}
/* fim css necessario para avisos5 (apagar no futuro) */
